<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CountryInfo</title>
    <link rel="stylesheet" href="./static/css/CountrtInfo.css" />
    <link rel="stylesheet" href="./static/css/footer.css" />

    <!-- CSS only -->
    <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- CSS only -->

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/footers/"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <div class="swiss">
      <video
        class="video"
        autoplay
        loop
        src="./static/img/canada_video.mp4"
        muted
      ></video>
    </div>

    <div class="first_content">
      <div class="logo_section">
        <div class="country">
          <span class="country_short letter font_style">단풍의 나라</span>
          <span class="country_name font_style letter">캐나다</span>
        </div>
        <div class="country_short font_style letter">
          추천 여행 시기 : 7,8,9월(여름,초가을)
        </div>
        <br />
        <div class="country_short letter font_style">
          캐나다는 북아메리카 대륙의 북쪽에 위치한 연방국이며, 국토가 약 1천만
          제곱킬로미터에 육박해서 러시아의 뒤를 이어 세계 2위의 면적을
          자랑한다.수도는 오타와이다.
        </div>
      </div>
    </div>

    <div class="danger font_style center">
      <br />
      <p>주의사항</p>
      <br />
      <div class="danger_description font_style">
        <li>Visa : 무비자</li>
        <li>
          여행시 해당 지역의 날씨 필수적으로 확인해야한다 (땅이 너무 커서 기후가
          다 다름)
        </li>
        <li>음식 주문시 팁을 내야 한다 (필수는 아니지만 기본 매너)</li>
        <li>외곽 여행시 야생동물 출몰 가능이 있으므로 주의해야한다</li>
      </div>
    </div>

    <div class="spot font_style">여행지</div>

    <div class="cards">
      <div class="card_1 card">
        <img src="./static/img/toronto.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text font_style">토론토</p>
        </div>
      </div>
      <div class="card_2 card">
        <img src="./static/img/whistler.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text font_style"></p>
          휘슬러
        </div>
      </div>
    </div>

    <div class="city_card hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/toronto.jpg"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          토론토는 캐나다에서 가장 큰 도시이며 캐나다에서 가장 현대적인 도시로
          문화 및 쇼핑 관광지로 유명하다.
          <br /><br />추천 맛집!
          <li class="font_style">The Captin's boil</li>
          <li class="font_style">Blaze Pizza</li>
          <li class="font_style">Jack Astor's Bar & Grill</li>
          <br />
          관련링크
          <br />
          <a
            class="font_style"
            href="https://www.youtube.com/watch?v=jOpcTUgnbu4"
            target="_blank"
            >토론토 여행(유튜브)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-youtube"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
              />
            </svg>
          </a>
          <br />
          <a
            href="https://blog.naver.com/NBlogTop.naver?blogId=solibre&Redirect=Dlog&Qs=/leak0901/222886448298"
            target="_blank"
            class="font_style"
            >토론토 여행(블로그)

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-bootstrap"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
              />
              <path
                d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="city_card_2 hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/whistler.jpg"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          <div>
            <p>
              휘슬러는 밴쿠버에서 가까운 여행지로, 마을 산으로 둘러 싸여 있어
              자연속에서 스키, 온천을 즐길 수 있다.
            </p>
            <br /><br />추천 맛집!
            <li class="font_style">EI Furniture Warehouse</li>
            <li class="font_style">Mongolie Grill Whistler</li>
            <li class="font_style">Splitz Grill</li>
            <br />
            관련링크
            <br />
            <a
              href="https://www.youtube.com/watch?v=MO6LuGkl9bs"
              target="_blank"
              class="font_style"
              >휘슬러 여행(유튜브)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-youtube"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                />
              </svg>
            </a>
            <br />
            <a
              href="https://blog.naver.com/silverway67/221749652471"
              target="_blank"
              class="font_style"
              >휘슬러 여행(블로그)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-bootstrap"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
                />
                <path
                  d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./footer.ejs')%>

    <script src="./static/js/Country_info.js"></script>
  </body>
</html>
