<!DOCTYPE html>
<html lang="ko">
      <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta
                  name="viewport"
                  content="width=device-width, initial-scale=1.0"
            />
            <title>CountryInfo</title>
            <link rel="stylesheet" href="./static/css/CountrtInfo.css" />
            <link rel="stylesheet" href="./static/css/footer.css" />

            <!-- CSS only -->
            <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" /> -->

            <!-- CSS only -->

            <link
                  rel="canonical"
                  href="https://getbootstrap.com/docs/5.2/examples/footers/"
            />

            <link
                  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
                  crossorigin="anonymous"
            />

            <link
                  rel="stylesheet"
                  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
            />

            <script
                  src="https://code.jquery.com/jquery-3.6.1.min.js"
                  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                  crossorigin="anonymous"
            ></script>
      </head>
      <body class="body">
            <div class="swiss">
                  <video
                        class="video"
                        autoplay
                        loop
                        src="./static/img/egypt_video.mp4"
                        muted
                  ></video>
            </div>

            <div class="first_content">
                  <div class="logo_section">
                        <div class="country">
                              <span class="country_short letter font_style"
                                    >거대한 피라미드와 스핑크스로 유명한</span
                              >
                              <span class="country_name font_style letter"
                                    >이집트</span
                              >
                        </div>
                        <div class="country_short font_style letter">
                              추천 여행 시기 : 봄 (2 ~ 4월), 가을 (10 ~ 11월)
                        </div>
                        <br />
                        <div class="country_short letter font_style">
                              황량한 사막에 자리 잡고 있는 고대의 유적지로
                              유명합니다. 스핑크스와 피라미드, 사하라 사막을
                              구경하고 나일강 유역과 지중해 해안을 따라 형성된
                              세계적인 도시들을 둘러보세요.
                        </div>
                  </div>
            </div>

            <div class="danger font_style center">
                  <br />
                  <p>주의사항</p>
                  <br />
                  <div class="danger_description font_style">
                        <li>
                              Visa : 한국 국적자의 경우, 이집트에 도착하여
                              관광비자(30일 단수비자)를 발급받아야 한다
                        </li>
                        <li>
                              선물 같은 것을 사는 경우 시중 가격보다 2~10배까지
                              부르기 때문에 흥정이 필요하며, 큰돈을 줄 경우
                              거스름돈을 안주는 경우가 많다
                        </li>
                        <li>
                              이집트파운드라는 화폐를 씁니다. 이집트파운드는
                              시중은행에서 거래를 할 수 없어서 이집트에서 환전을
                              해야 한다.
                        </li>
                        <li>
                              학생이라면 국제학생증은 무조건 필수입니다.
                              이집트는 유적지를 갈 일이 많은데, 대부분의
                              유적지는 학생증이 있으면 50% 할인이 된다.
                        </li>
                  </div>
            </div>

            <div class="spot font_style">여행지</div>

            <div class="cards">
                  <div class="card_1 card">
                        <img
                              src="./static/img/kairo.png"
                              class="card-img-top"
                              alt="..."
                        />
                        <div class="card-body">
                              <p class="card-text font_style">카이로</p>
                        </div>
                  </div>
                  <div class="card_2 card">
                        <img
                              src="./static/img/luxor.png"
                              class="card-img-top"
                              alt="..."
                        />
                        <div class="card-body">
                              <p class="card-text font_style">룩소르</p>
                        </div>
                  </div>
            </div>

            <div class="city_card hidden">
                  <div class="card_description">
                        <img
                              class="city_description_img"
                              src="./static/img/kaiptown.png"
                              alt=""
                              srcset=""
                        />

                        <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              fill="currentColor"
                              class="bi bi-x button"
                              viewBox="0 0 16 16"
                        >
                              <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                              />
                        </svg>

                        <div class="font_style description">
                              카이로는 문화의 도시입니다. 이집트 박물관에서
                              눈부신 고대 보물을 살펴보고, 이슬라믹 카이로의
                              놀라운 건축 양식과 거리 풍경을 둘러보고, 제지라
                              섬의 현대 미술에 빠져 보세요.
                              <br /><br />추천 맛집!
                              <li class="font_style">
                                    Fayruz Lebanese Restaurant
                              </li>
                              <li class="font_style">
                                    The Blue Restaurant & Grill
                              </li>
                              <li class="font_style">Nişantaşi</li>
                              <br />
                              관련링크
                              <br />
                              <a
                                    class="font_style"
                                    href="https://www.youtube.com/watch?v=crrUmrG3G_Y"
                                    target="_blank"
                                    >카이로 여행(유튜브)
                                    <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          width="25"
                                          height="25"
                                          fill="currentColor"
                                          class="bi bi-youtube"
                                          viewBox="0 0 16 16"
                                    >
                                          <path
                                                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                                          />
                                    </svg>
                              </a>
                              <br />
                              <a
                                    href="https://blog.naver.com/peripetetic/220235918183"
                                    target="_blank"
                                    class="font_style"
                                    >카이로 여행(블로그)

                                    <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          width="25"
                                          height="25"
                                          fill="currentColor"
                                          class="bi bi-bootstrap"
                                          viewBox="0 0 16 16"
                                    >
                                          <path
                                                d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
                                          />
                                          <path
                                                d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
                                          />
                                    </svg>
                              </a>
                        </div>
                  </div>
            </div>

            <div class="city_card_2 hidden">
                  <div class="card_description">
                        <img
                              class="city_description_img"
                              src="./static/img/luxor.png"
                              alt=""
                              srcset=""
                        />

                        <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="40"
                              height="40"
                              fill="currentColor"
                              class="bi bi-x button"
                              viewBox="0 0 16 16"
                        >
                              <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                              />
                        </svg>

                        <div class="font_style description">
                              <div>
                                    <p>
                                          이집트에서 네 번째로 큰 도시 룩소르는
                                          고대 도시 테베(Thebe)로 알려져 있다.
                                          카이로에서는 남쪽으로 약 670㎞ 떨어져
                                          있으며, 장대한 기념비적 건축과 그
                                          훌륭한 보존 상태 덕에 이집트에서
                                          여행자들이 가장 많이 찾는 곳이 되었다.
                                    </p>
                                    <br /><br />추천 맛집!
                                    <li class="font_style">
                                          Sofra Restaurant & Cafe
                                    </li>
                                    <li class="font_style">
                                          The Lantern Room Restaurant
                                    </li>
                                    <li class="font_style">
                                          Steigenberger Nile Palace Luxor
                                          Restaurants
                                    </li>
                                    <br />
                                    관련링크
                                    <br />
                                    <a
                                          href="https://www.youtube.com/watch?v=W0gtgurGYaQ"
                                          target="_blank"
                                          class="font_style"
                                          >룩소르 여행(유튜브)
                                          <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="25"
                                                height="25"
                                                fill="currentColor"
                                                class="bi bi-youtube"
                                                viewBox="0 0 16 16"
                                          >
                                                <path
                                                      d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                                                />
                                          </svg>
                                    </a>
                                    <br />
                                    <a
                                          href="https://blog.naver.com/smupe0214/222603363409"
                                          target="_blank"
                                          class="font_style"
                                          >룩소르 여행(블로그)
                                          <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="25"
                                                height="25"
                                                fill="currentColor"
                                                class="bi bi-bootstrap"
                                                viewBox="0 0 16 16"
                                          >
                                                <path
                                                      d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
                                                />
                                                <path
                                                      d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
                                                />
                                          </svg>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>

            <%- include('./footer.ejs')%>

            <script src="./static/js/Country_info.js"></script>
      </body>
</html>
