<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CountryInfo</title>
    <link rel="stylesheet" href="./static/css/CountrtInfo.css" />
    <link rel="stylesheet" href="./static/css/footer.css" />

    <!-- CSS only -->
    <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- CSS only -->

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/footers/"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <div class="swiss">
      <video
        class="video"
        autoplay
        loop
        src="./static/img/finland_video.mp4"
        muted
      ></video>
    </div>

    <div class="first_content">
      <div class="logo_section">
        <div class="country">
          <span class="country_short letter font_style">산타의 나라</span>
          <span class="country_name font_style letter">핀란드</span>
        </div>
        <div class="country_short font_style letter">추천 여행 시기 : 12월</div>
        <br />
        <div class="country_short letter font_style">
          핀란드는 북유럽에 있는 노르딕 국가 가운데 하나로 자연경관이 매우
          아름다운 나라입니다. 발트해, 보트니아만, 핀란드만을 두고서 서쪽으로는
          스웨덴, 동쪽으로는 러시아, 남쪽으로는 에스토니아, 북쪽과 북동쪽으로는
          노르웨이와 접하고 있다.
        </div>
      </div>
    </div>

    <div class="danger font_style center">
      <br />
      <p>주의사항</p>
      <br />
      <div class="danger_description font_style">
        <li>Visa : 한국 국적자는 90일간 무비자로 체류가 가능하다</li>
        <li>
          230볼트의 전압을 사용하기 때문에 대부분의 우리나라 가전제품 사용이
          가능하지만 일부 모터 제품의 경우 사용이 안되는 경우가 있다. 전기
          플러그는 우리나라와 모양이 같아 그대로 사용할 수 있다.
        </li>
        <li>
          50유로 이상의 금액을 신용카드로 구매 할 시 신분증을 요구하는 경우가
          많음으로 신분증을 항상 지참하고 다녀야 한다.
        </li>
        <li>
          대부분의 요금에 팁이 포함되어 있어 별도로 팁을 주지 않아도 되며,
          물가는 매우 비싼 편이다.
        </li>
      </div>
    </div>

    <div class="spot font_style">여행지</div>

    <div class="cards">
      <div class="card_1 card">
        <img src="./static/img/helsinki.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text font_style">헬싱키</p>
        </div>
      </div>
      <div class="card_2 card">
        <img src="./static/img/lapland.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text font_style">라플란드</p>
        </div>
      </div>
    </div>

    <div class="city_card hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/helsinki.jpg"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          헬싱키 대성당, 우스펜스키 대성당, 수오멘린나 요새, 템펠리아우키오
          교회와 같은 건축물들, 아테네움, 키아스마 현대미술관과 같은 미술관들,
          핀란드 국립 역사 박물관 등의 관광지가 있습니다. 사우나의 나라답게 시내
          여기저기에 있는 사우나를 갈 수도 있고, 곰고기, 순록고기, 엘크고기 등
          한국에서 접하기 힘든 육류를 시도해 볼 수 있습니다.
          <br /><br />추천 맛집!
          <li class="font_style">Cafe Regatta</li>
          <li class="font_style">savotta</li>
          <li class="font_style">Olo Ravintola</li>
          <br />
          관련링크
          <br />
          <a
            class="font_style"
            href="https://www.youtube.com/watch?v=iFbhpqGmKNQ"
            target="_blank"
            >헬싱키 여행(유튜브)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-youtube"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
              />
            </svg>
          </a>
          <br />
          <a
            href="https://blog.naver.com/playce/222857027164"
            target="_blank"
            class="font_style"
            >헬싱키 여행(블로그)

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-bootstrap"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
              />
              <path
                d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="city_card_2 hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/lapland.jpg"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          <div>
            <p>
              한밤중에 떠 있는 태양과 오로라, 개 썰매, 사미족, 순록,
              산타클로스를 만날 수 있는 장소이다. 핀란드 라플란드는 겨울에는
              동화처럼 신비로운 풍경을 자아내고 여름에는 짙푸른 삼림이 펼쳐지는
              아름다운 여행지 입니다. 오로라와 한밤의 태양을 볼 수 있고 시골
              마을에서 사미족 사람들의 생활을 체험하고 국립공원도 방문할 수도
              있습니다. 다양한 겨울 스포츠를 즐기고 자유롭게 돌아다니는 순록
              떼도 볼 수 있으며, 하이킹 코스를 따라 탐험을 떠나셔도 좋은
              장소입니다.
            </p>
            <br /><br />추천 맛집!
            <li class="font_style">Kaamasen Kievari</li>
            <li class="font_style">Nili</li>
            <li class="font_style">Laanilan Kievari</li>
            <br />
            관련링크
            <br />
            <a
              href="https://www.youtube.com/watch?v=j_vppbv9Fbg"
              target="_blank"
              class="font_style"
              >핀란드 여행(유튜브)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-youtube"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                />
              </svg>
            </a>
            <br />
            <a
              href="https://blog.naver.com/minji9743/222417068251"
              target="_blank"
              class="font_style"
              >라플란드 여행(블로그)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-bootstrap"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
                />
                <path
                  d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./footer.ejs')%>

    <script src="./static/js/Country_info.js"></script>
  </body>
</html>
