<div class="FooterContainer d-none d-md-block">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <title>Footer</title>
  </svg>
  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="col-md-8 d-flex align-items-center explaination">
        <span class="mb-3 mb-md-0 text-muted">
          Parter : 코딩온 포스코
          <br />
          Creator : 강민성 박수민 서승원 이지우 <br />
          Contact : 98gwsun@gmail.com | 010-3357-8794 | 서울특별시 마포구
          숭문4길 <br /><br />
          Copyright &copy; 2022 CodingOn 1차 프로젝트, KDT_3rd C조, All Rights
          Reserved.
        </span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <img src="static/img/kdt_logo2.png" class="Logo" />
      </ul>
    </footer>
  </div>

  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</div>
