<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/mainpage.css">

    <style>
        @font-face {
        font-family: 'twayair';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    
        </style>
</head>
<body>


    <div class="picture">
        <img class= "trip1" src="/static/image/travel.jpg" alt="여행지">
        <img class= "trip2" src="/static/image/manhattan.jpg" alt="여행지">
    </div>
    

    <div class="p">
        <div>당신만을 기다리고 있는 <p>Next places</p> </div>
    </div>


    
        <a href="" target="" class="visitmt-button overlay-button" aria-label="">
            Go Find Out
        <!-- <svg class="arrow" viewBox="-400 0 500 100" preserveAspectRatio="xMaxYMid slice"> -->
        <!-- <rect x="-400" y="47" width="490" height="10" style="fill:currentColor"></rect>
        <polygon points="100,50 22,0 22,15 80,50 22,85 22,100" style="fill:currentColor"></polygon>
        </svg> -->
    
        </a>
    

   



    <script src="/static/js/mainpage.js"></script>
</body>
</html>