<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main5.css">
</head>
<body>

    <div id="slider-wrap">
        <ul id="slider">
            <li>
                <img src="/static/image/balloons.jpg" >
            </li>
    
            <li>

                <img src="/static/image/aa.JPG" >
            </li>
    
            <li>
                <img src="/static/image/cc.jpg" >
            </li>
    
            <li>
                <img src="/static/image/travel.jpg">
            </li>
    
            <li>
                <img src="https://fakeimg.pl/350x200/0064CD/000?text=55555"  style="height: 800px">
            </li>
        </ul>
    
        <div class="slider-btns" id="next"><span>▶</span></div>
        <div class="slider-btns" id="previous"><span>◀</span></div>
    
        <div id="slider-pagination-wrap">
            <ul>
            </ul>
        </div>
    </div>
    


<script src="/static/js/main5.js"></script>
</body>
</html>