<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>main page</title>
    <meta
      name="description"
      content="여행소개 사이트의 첫 진입 페이지로 다양한 유명 해외 명소의 이미지의 슬라이드를 확인 할 수 있다.
      좌측의 GO 버튼을 클릭하면 대륙이 나오는 메인페이지로 이동 할 수 있다."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <link type="text/css" rel="stylesheet" href="/static/css/mainpage.css" />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>

    <style>
      @font-face {
        font-family: 'BinggraeSamanco-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff')
          format('woff');
        font-weight: normal;
        font-style: normal;
      }
    </style>

    <script src="/static/js/PageChange.js"></script>

    <link rel="shortcut icon" href="/static/image/airplane.ico" />
  </head>

  <body>
    <div class="box">
      <div id="index_03">
        <div id="slide3">
          <img src="/static/image/mexico.jpg" alt="멕시코" />
        </div>
        <div class="text-container">
          <div class="text">당신이 바라던 그 여행<br />"find & choice"</div>
          <div class="visitmt-button" onclick="worldcontinents();">
            <div>Go --></div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/static/js/mainpage.js"></script>
  </body>
</html>
