<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="stylesheet" href="/static/css/mainpage2.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

    <div class="kind_wrap">
        <div class="kind_slider">
          <ul class="slider">
            <li><img src="/static/image/manhattan.jpg" alt=""></li>
            <li><img src="/static/image/travel.jpg" alt=""></li>
            <li><img src="/static/image/manhattan.jpg" alt=""></li>
            <li><img src="/static/image/manhattan.jpg" alt=""></li>
            <li><img src="/static/image/manhattan.jpg" alt=""></li>
              
          </ul>
        </div>
        <div class="arrow">
            <a href="" class="prev">&lang;</a>
            <a href="" class="next">&rang;</a>
        </div>
      </div>

    <script src="/static/js/mainpage2.js"></script>
</body>
</html>