<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CountryInfo</title>
    <link rel="stylesheet" href="./static/css/CountrtInfo.css" />
    <link rel="stylesheet" href="./static/css/footer.css" />

    <!-- CSS only -->
    <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- CSS only -->

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/footers/"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <div class="swiss">
      <video
        class="video"
        autoplay
        loop
        src="./static/img/moroco_video.mp4"
        muted
      ></video>
    </div>

    <div class="first_content">
      <div class="logo_section">
        <div class="country">
          <span class="country_short letter font_style"
            >고대 유적과 황금빛 사하라 사막, 다양한 축제가 조화로운 곳</span
          >
          <span class="country_name font_style letter">모로코</span>
        </div>
        <div class="country_short font_style letter">
          추천 여행 시기 : 봄(4월 ~ 5월) / 가을(9월 ~ 11월)
        </div>
        <br />
        <div class="country_short letter font_style">
          야생 해변, 눈 덮인 산과 광활한 사막 지역을 갖춘 북아프리카의 이국적인
          국가입니다. 바다와 사하라 사막의 사구 사이에 위치한 모로코의 도시에는
          화려한 고대 건축물, 현대식 고층건물과 시장으로 이어지는 복잡한
          골목길들이 조화를 이루고 있습니다.
        </div>
      </div>
    </div>

    <div class="danger font_style center">
      <br />
      <p>주의사항</p>
      <br />
      <div class="danger_description font_style">
        <li>Visa : 무비자</li>
        <li>
          아프리카 중 잘사는 나라이지만 역시 개발도상국이므로 호텔 객실,
          편의시설 수준은 선진국 비해서 안 좋으며, 호텔 객실마다 무료 물이
          없습니다.
        </li>
        <li>
          모로코 사람들은 문화적, 종교적인 이유로 사진을 찍히는 것을 싫어합니다.
          또한, 경찰서 군부대 경찰 군인들을 사진 촬영을 하면 안 됩니다.
        </li>
        <li>
          모로코에도 유럽과 마찬가지로 우범지역이 있으며 손님들께서는 이러한
          지역을 모르기 때문에 문제 발생 소지가 있어서 개별행동은 안된다.
        </li>
      </div>
    </div>

    <div class="spot font_style">여행지</div>

    <div class="cards">
      <div class="card_1 card">
        <img src="./static/img/kasablanka.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text font_style">카사블랑카</p>
        </div>
      </div>
      <div class="card_2 card">
        <img src="./static/img/maracash.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text font_style">마라케시</p>
        </div>
      </div>
    </div>

    <div class="city_card hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/kasablanka.png"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          북아프리카를 관통하는 아랍 문화와 프랑스, 스페인 등 서유럽의 문화가
          뒤엉켜 이국적인 정취가 가득한 곳이다.
          <br /><br />추천 맛집!
          <li class="font_style">Blend Gourmet Burger</li>
          <li class="font_style">NKOA</li>
          <li class="font_style">Le Cuistot Traditionnel</li>
          <br />
          관련링크
          <br />
          <a
            class="font_style"
            href="https://www.youtube.com/watch?v=AnvWg16pUhk"
            target="_blank"
            >카사블랑카 여행(유튜브)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-youtube"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
              />
            </svg>
          </a>
          <br />
          <a
            href="https://blog.naver.com/bonniegets/222862430915"
            target="_blank"
            class="font_style"
            >카사블랑카 여행(블로그)

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-bootstrap"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
              />
              <path
                d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="city_card_2 hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/maracash.png"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          <div>
            <p>
              모로코에서 네 번째로 큰 도시이며, 건물들이 빛 바랜 핑크색이어서
              핑크 시티로 불리기도 합니다. 붉은 빛을 띠는 햇빛과 조명이 함께한
              저녁의 광경은 특히 아름답습니다.
            </p>
            <br /><br />추천 맛집!
            <li class="font_style">Comptoir Darna Marrakech</li>
            <li class="font_style">Dar Zellij</li>
            <li class="font_style">Bazaar Café</li>
            <br />
            관련링크
            <br />
            <a
              href="https://www.youtube.com/watch?v=WqltvGvZv90"
              target="_blank"
              class="font_style"
              >마라케시 여행(유튜브)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-youtube"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                />
              </svg>
            </a>
            <br />
            <a
              href="https://blog.naver.com/gorgeous_olivia/222784271663"
              target="_blank"
              class="font_style"
              >마라케시 여행(블로그)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-bootstrap"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
                />
                <path
                  d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./footer.ejs')%>

    <script src="./static/js/Country_info.js"></script>
  </body>
</html>
