<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CountryInfo</title>
    <link rel="stylesheet" href="./static/css/CountrtInfo.css" />
    <link rel="stylesheet" href="./static/css/footer.css" />

    <!-- CSS only -->
    <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- CSS only -->

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/footers/"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <div class="swiss">
      <video
        class="video"
        autoplay
        loop
        src="./static/img/southafrica_video.mp4"
        muted
      ></video>
    </div>

    <div class="first_content">
      <div class="logo_section">
        <div class="country">
          <span class="country_short letter font_style">무지개의 나라</span>
          <span class="country_name font_style letter">남아공</span>
        </div>
        <div class="country_short font_style letter">
          추천 여행 시기 : 봄 ~ 가을 (3 ~ 11월)
        </div>
        <br />
        <div class="country_short letter font_style">
          금이 풍부한 나라 중 하나이며, 아프리카에서 가장 고도화된 산업국이다.
          남아프리카 지역이나 블랙 아프리카에서는 우월한 강국으로 아프리카
          연합의 실질적인 수장국이다.
        </div>
      </div>
    </div>

    <div class="danger font_style center">
      <br />
      <p>주의사항</p>
      <br />
      <div class="danger_description font_style">
        <li>Visa : 무비자</li>
        <li>
          치안이 좋지 않아 많은 현금을 가지고 다니지 말고 카드 사용의 경우 일행
          중 하나의 카드만 사용하는것이 좋다
        </li>
        <li>
          차를 렌트하여 직접 운전할 경우 창문을 열고 다니지 않는것이 좋으며,
          주차 시 반드시 차 문을 잠구는 것이 좋다.
        </li>
        <li>
          국립공원에서 사파리투어를 하는 동안 개인행동은 금물. 동물에게 먹이를
          줘도 안 된다. 향수는 모기를 부르므로 자제하는 게 좋다
        </li>
      </div>
    </div>

    <div class="spot font_style">여행지</div>

    <div class="cards">
      <div class="card_1 card">
        <img src="./static/img/kaiptown.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text font_style">케이프 타운</p>
        </div>
      </div>
      <div class="card_2 card">
        <img
          src="./static/img/johannesburg.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text font_style">요하네스버그</p>
        </div>
      </div>
    </div>

    <div class="city_card hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/kaiptown.png"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          테이블 마운틴의 장관과 독특한 '케이프 더치' 양식의 건물, 푸르게
          반짝이는 해변을 갖춘 케이프타운은 아름다운 자연 경관과 풍요로운 문화적
          명소로 유명합니다.
          <br /><br />추천 맛집!
          <li class="font_style">The Company's Garden</li>
          <li class="font_style">Baia Seafood Restaurant</li>
          <li class="font_style">GOLD Restaurant</li>
          <br />
          관련링크
          <br />
          <a
            class="font_style"
            href="https://www.youtube.com/watch?v=srP7RFVdjWc"
            target="_blank"
            >케이프타운(유튜브)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-youtube"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
              />
            </svg>
          </a>
          <br />
          <a
            href="https://blog.naver.com/961102/222882650935"
            target="_blank"
            class="font_style"
            >케이프타운(블로그)

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-bootstrap"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
              />
              <path
                d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="city_card_2 hidden">
      <div class="card_description">
        <img
          class="city_description_img"
          src="./static/img/johannesburg.png"
          alt=""
          srcset=""
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-x button"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>

        <div class="font_style description">
          <div>
            <p>
              경험 많은 여행객들에게도 예상치 못한 놀라움을 선사합니다. 고난의
              과거를 지니고 있는 요하네스버그는 수준 높은 문화 명소와 멋진
              유적지, 그리고 다양한 인구 구성으로 유명합니다. 아직까지
              관광객들의 주의가 요구되기는 하지만, 몇몇 지역은 꽤나 안전합니다.
            </p>
            <br /><br />추천 맛집!
            <li class="font_style">The Grillhouse Rosebank</li>
            <li class="font_style">Tashas Rosebank</li>
            <li class="font_style">The Local Grill</li>
            <br />
            관련링크
            <br />
            <a
              href="https://www.youtube.com/watch?v=ys50mYV-AEU"
              target="_blank"
              class="font_style"
              >요하네스버그(유튜브)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-youtube"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                />
              </svg>
            </a>
            <br />
            <a
              href="https://blog.naver.com/kongfamily2/150186901900"
              target="_blank"
              class="font_style"
              >요하네스버그(블로그)
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-bootstrap"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"
                />
                <path
                  d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./footer.ejs')%>

    <script src="./static/js/Country_info.js"></script>
  </body>
</html>
