<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/themepark.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="dropdown">
    <div class="mainBtn">
      <div class="america">아메리카</div>
      <div class="asia">아시아</div>
      <div class="europe">유럽</div>
      <div class="middelEast">중동</div>
      <div class="oceania">오세아니아</div>
    </div>
    <div class="listAmerica">
      <ul class="listAmericaUl">
        <li id="country" class="country USA">
          미국
          <div class="themeparkUSA">
            <ul>
              <li><a href="">디즈니 파크</a></li>
              <li><a href="">애니멀 킹덤</a></li>
              <li><a href="">유니버셜</a></li>
            </ul>
          </div>
        </li>
        <li id="country" class="country Brazil">
          브라질
          <div class="themeparkBrazil">
            <ul>
              <li><a href="">베토 카레로 월드</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="listAsia">
      <ul class="listAsiaUl">
        <li id="country" class="country vietnam">
          베트남
          <div class="themeparkVietnam">
            <ul>
              <li><a href="">빈펄랜드</a></li>
            </ul>
          </div>
        </li>
        <li id="country" class="country japan">
          일본
          <div class="themeparkJapan">
            <ul>
              <li><a href="">도쿄 디즈니씨</a></li>
              <li><a href="">지브리 파크</a></li>
            </ul>
          </div>
        </li>
        <li id="country" class="country china">
          중국
          <div class="themeparkChina">
            <ul>
              <li><a href="">창롱오션킹덤</a></li>
            </ul>
          </div>
        </li>
        <li id="country" class="country korea">
          한국
          <div class="themeparkKorea">
            <ul>
              <li><a href="">에버랜드</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <script src="../static/js/themepark.js"></script>
</body>
</html>