<body>
  <div class="dropdown">
    <div class="mainBtn">
      <div class="america">아메리카</div>
      <div class="asia">아시아</div>
      <div class="europe">유럽</div>
      <div class="middleEast">중동</div>
      <div class="oceania">오세아니아</div>
    </div>
    <div class="listAmerica dropdown_menu-6">
      <ul class="listUl">
        <li id="country" class="country usa">
          <div id="usaText" class="countryText">미국</div>
          <div class="themeparkUSA">
            <ul>
              <li id="themepark" class="disneypark">디즈니 파크</li>
              <li id="themepark" class="animal">애니멀 킹덤</li>
              <li id="themepark" class="universal">유니버셜</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country brazil">
          <div id="brazilText" class="countryText">브라질</div>
          <div class="themeparkBrazil">
            <ul>
              <li id="themepark" class="beto">베토 카레로 월드</li>
            </ul>
          </div>
        </li>
        <div class="xBtn1"><i class="bi bi-x"></i></div>
      </ul>
    </div>
    <div class="listAsia dropdown_menu-6">
      <ul class="listUl">
        <li id="country" class="country vietnam">
          <div id="vietnamText" class="countryText">베트남</div>
          <div class="themeparkVietnam">
            <ul>
              <li id="themepark" class="binpear">빈펄랜드</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country japan">
          <div id="japanText" class="countryText">일본</div>
          <div class="themeparkJapan">
            <ul>
              <li id="themepark" class="disneyc">도쿄 디즈니씨</li>
              <li id="themepark" class="jibry">지브리 파크</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country china">
          <div id="chinaText" class="countryText">중국</div>
          <div class="themeparkChina">
            <ul>
              <li id="themepark" class="changrong">창롱오션킹덤</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country korea">
          <div id="koreaText" class="countryText">한국</div>
          <div class="themeparkKorea">
            <ul>
              <li id="themepark" class="ever">에버랜드</li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="xBtn2"><i class="bi bi-x"></i></div>
    </div>
    <div class="listEurope dropdown_menu-6">
      <ul class="listUl">
        <li id="country" class="country netherlands">
          <div id="netherlandsText" class="countryText">네덜란드</div>
          <div class="themeparkNetherlands">
            <ul>
              <li id="themepark" class="ftelling">에프텔링</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country denmark">
          <div id="denmarkText" class="countryText">덴마크</div>
          <div class="themeparkDenmark">
            <ul>
              <li id="themepark" class="lego">레고랜드</li>
              <li id="themepark" class="tiboly">티볼리 가든</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country germany">
          <div id="germanyText" class="countryText">독일</div>
          <div class="themeparkGermany">
            <ul>
              <li id="themepark" class="europark">유로파 파크</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country romania">
          <div id="romaniaText" class="countryText">루마니아</div>
          <div class="themeparkRomania">
            <ul>
              <li id="themepark" class="salina">살리나 투르다</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country spain">
          <div id="spainText" class="countryText">스페인</div>
          <div class="themeparkSpain">
            <ul>
              <li id="themepark" class="portu">포르트 아벤투라</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country uk">
          <div id="ukText" class="countryText">영국</div>
          <div class="themeparkUK">
            <ul>
              <li id="themepark" class="harrypoter">해리포터 스튜디오</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country france">
          <div id="franceText" class="countryText">프랑스</div>
          <div class="themeparkFrance">
            <ul>
              <li id="themepark" class="puydufou">퓌뒤푸</li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="xBtn3"><i class="bi bi-x"></i></div>
    </div>
    <div class="listMiddleEast dropdown_menu-6">
      <ul class="listUl">
        <li id="country" class="country dubai">
          <div id="dubaiText" class="countryText">두바이</div>
          <div class="themeparkDubai">
            <ul>
              <li id="themepark" class="global">글로벌 빌리지</li>
            </ul>
          </div>
        </li>
        <li id="country" class="country arab">
          <div id="arabText" class="countryText">아랍에미리트</div>
          <div class="themeparkArab">
            <ul>
              <li id="themepark" class="ferari">페라리 월드</li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="xBtn4"><i class="bi bi-x"></i></div>
    </div>
    <div class="listOceania dropdown_menu-6">
      <ul class="listUl">
        <li id="country" class="country australia">
          <div id="australiaText" class="countryText">호주</div>
          <div class="themeparkAustralia">
            <ul>
              <li id="themepark" class="siworld">시월드</li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="xBtn5"><i class="bi bi-x"></i></div>
    </div>
  </div>
</body>