<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/worldcontinents.css">

    <style>
    @font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


    </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>
    <div class="map">
        <img class="w1" src="/static/image/flag/continents6.jpg" alt="대륙" >
        
        <img class="icon t1" src="/static/image/pin2.png" alt="깃발" >
        <img class="icon t2" src="/static/image/pin2.png" alt="깃발">
        <img class="icon t3" src="/static/image/pin2.png" alt="깃발">
        <img class="icon t4" src="/static/image/pin2.png" alt="깃발">
        <img class="icon t5" src="/static/image/pin2.png" alt="깃발">
        <img class="icon t6" src="/static/image/pin2.png" alt="깃발">


        <p>대륙의 icon을 클릭해주세요</p>




        <div>
            <img id="f1" src="/static/image/flight5.png" alt="비행기" width="170px">
            <img id="f2" src="/static/image/flight5.png" alt="비행기" width="170px">
            <img id="f3" src="/static/image/flight5.png" alt="비행기" width="170px">
            <img id="f4" src="/static/image/flight5.png" alt="비행기" width="170px">
            <img id="f5" src="/static/image/flight5.png" alt="비행기" width="170px">
            <img id="f6" src="/static/image/flight5.png" alt="비행기" width="170px">
        </div>



        
        <div class="card1">

            <div class="div1">
                <img src="/static/image/flag/china1.png" alt="중국">
                <div class="go"> click! </div>
            </div>
            <div class="div2">
                <img src="/static/image/flag/japan.jpg" alt="일본">
                <div class="go"> click! </div>
            </div>
            <div class="div3">
                <img src="/static/image/flag/thai1.png" alt="태국">
                <div class="go"> click! </div>
            </div>
            <div class="div4"> 
                <img src="/static/image/flag/viet1.png" alt="베트남">
                <div class="go"> click! </div>
            </div>

        </div>

    

        <div class="card2">

            <div class="div5">
                <img src="/static/image/flag/eg.png" alt="이집트">
                <div class="go"> click! </div>
            </div>
            <div class="div6">
                <img src="/static/image/flag/mauri.png" alt="모리셔스">
                <div class="go"> click! </div>
            </div>
            <div class="div7">
                <img src="/static/image/flag/moroco.png" alt="모로코">
                <div class="go"> click! </div>
            </div>
            <div class="div8"> 
                <img src="/static/image/flag/sa.png" alt="남아프리카">
                <div class="go"> click! </div>
            </div>

        </div>


        <div class="card3">

            <div class="div9">
                <img src="/static/image/flag/canada.png" alt="캐나다">
                <div class="go"> click! </div>
            </div>
            <div class="div10">
                <img src="/static/image/flag/usa.png" alt="미국">
                <div class="go"> click! </div>
            </div>

        </div>


        <div class="card4">

            <div class="div11">
                <img src="/static/image/flag/au.png" alt="호주">
                <div class="go"> click! </div>
            </div>
            <div class="div12">
                <img src="/static/image/flag/nz.png" alt="뉴질랜드">
                <div class="go"> click! </div>
            </div>

        </div>

        <div class="card5">

            <div class="div13">
                <img src="/static/image/flag/ch.png" alt="스위스">
                <div class="go"> click! </div>
            </div>
            <div class="div14">
                <img src="/static/image/flag/es.png" alt="스페인">
                <div class="go"> click! </div>
            </div>
            <div class="div15">
                <img src="/static/image/flag/nl.png" alt="네덜란드">
                <div class="go"> click! </div>
            </div>
            <div class="div16"> 
                <img src="/static/image/flag/fi.png" alt="핀란드">
                <div class="go"> click! </div>
            </div>
        </div>



        <div class="card6">

            <div class="div17">
                <img src="/static/image/flag/cl.png" alt="칠레">
                <div class="go"> click! </div>
            </div>
            <div class="div18">
                <img src="/static/image/flag/br.png" alt="브라질">
                <div class="go"> click! </div>
            </div>
            <div class="div19">
                <img src="/static/image/flag/cu.png" alt="쿠바">
                <div class="go"> click! </div>
            </div>
            <div class="div20"> 
                <img src="/static/image/flag/mx.png" alt="멕시코">
                <div class="go"> click! </div>
            </div>
        </div>
    </div>







    <script src="/static/js/worldcontinents.js"></script>
</body>
</html>