@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.font_style {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.title {
  background-color: rgb(135, 202, 204);
  width: 90%;
  height: 80vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_content {
  color: white;
  font-size: 2em;
}

.second {
  font-size: 4em;
  margin-left: 5%;
  font-weight: 300;
}

.service_name {
  flex-direction: column;
  width: 90%;
  height: 30vh;
  background-color: ivory;
  margin: 3% 0 0 0;
}

.name {
  font-size: 2.5em;
}

.mainpage_description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 60vh;
  background-color: ivory;
  margin: 3% 0 0 0;
}

.little_title {
  font-size: 1.5em;
  margin: 0 0 5% 0;
}

.short {
  font-size: 2em;
  margin: 0 0 20% 0;
}

.card_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 0 0 5%;
}

.card_img {
  width: 40%;
  margin: 0 5% 0 0;
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .title_content {
    font-size: 2vw;
  }

  .second {
    font-size: 4vw;
  }

  .name {
    font-size: 2.5vw;
  }

  .little_title {
    font-size: 1.5vw;
  }
  
  .short {
    font-size: 2vw;
  }

  .title {
    height: 50vh;
  }
  
}