@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'twayair';
}

/* .mainBody {
  background-image: url('./image/blue.jpg');
} */
/* 문구, select 박스 */
.selectContainer {
  text-align: center;
  margin-bottom: 5rem;
}

select:hover {
  cursor: pointer;
}

select {
  border: 0.2rem solid transparent;
  border-bottom: 0.1rem solid rgb(134, 135, 135);
  font-size: 1.5rem;
  padding: 1.2rem 2.5rem 1.2rem 0;
}

.search {
  background-color: rgb(177, 218, 238);
  border: none;
  border-radius: 0.8rem;
  padding: 0.4rem 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* 카드 */
.questionContainer {
  display: flex;
  justify-content: center;
}

.questionCard1,
.questionCard2,
.questionCard3 {
  margin: 0 1.5rem;
  text-align: center;
  border: 0.1rem solid rgb(171, 169, 169);
  padding: 0;
  border-radius: 2rem;
  width: 18rem;
  height: 28rem;
}

.questionCard1 img {
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  width: 100%;
  height: 19rem;
}
.questionCard2 img {
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  width: 100%;
  height: 19rem;
}
.questionCard3 img {
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  width: 100%;
  height: 19rem;
}

.questionCard1,
.questionCard2,
.questionCard3:hover {
  cursor: pointer;
}

.textSort {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.questionCard-text1,
.questionCard-text2,
.questionCard-text3 {
  font-size: 1.3rem;
  padding: 0 0.5rem;
  margin: 0;
}

/* svg {
  margin-top: 10px;
  filter: invert(77%) sepia(67%) saturate(425%) hue-rotate(72deg) brightness(98%) contrast(99%);
} */

.back {
  animation: rotateAni 1s ease 1;
}

.hide {
  animation: fadeout 3s;
}

@keyframes rotateAni {
  0%{transform:rotateY(0);}
  100%{transform:rotateY(90deg);}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media all and (max-width: 320px) {
  .selectContainer>p {font-size: 1rem;}
  select {font-size: 1.5rem;}
  .questionContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .questionCard1,
  .questionCard2,
  .questionCard3 {
    margin: 0 1.5rem;
    height: 19rem;
  }
  .questionCard1 {
    margin-bottom: 2rem;
  }
  .questionCard2 {
    margin-bottom: 2rem;
  }
  .questionCard3 {
    margin-bottom: 2rem;
  }
  .questionCard-text1,
  .questionCard-text2,
  .questionCard-text3 {
    font-size: 1rem;
    padding: 0 0.5rem;
    margin: 0;
  }
  .textSort {
    height: 6rem;
  }
  .questionCard1 img {
    height: 13rem;
  }
  .questionCard2 img {
    height: 13rem;
  }
  .questionCard3 img {
    height: 13rem;
  }
}
@media all and (min-width: 321px) and (max-width: 768px) {
  .mainBody {
    width: 100%;
  }
  .selectContainer>p {font-size: 1rem;}
  select {font-size: 1.5rem;}
  .questionContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .questionCard1,
  .questionCard2,
  .questionCard3 {
    margin: 0 1.5rem;
    height: 19rem;
  }
  .questionCard1 {
    margin-bottom: 2rem;
  }
  .questionCard2 {
    margin-bottom: 2rem;
  }
  .questionCard3 {
    margin-bottom: 2rem;
  }
  .questionCard-text1,
  .questionCard-text2,
  .questionCard-text3 {
    font-size: 1rem;
    padding: 0 0.5rem;
    margin: 0;
  }
  .textSort {
    height: 6rem;
  }
  .questionCard1 img {
    height: 13rem;
  }
  .questionCard2 img {
    height: 13rem;
  }
  .questionCard3 img {
    height: 13rem;
  }
}
@media all and (min-width: 769px) and (max-width: 903px) {
  .questionCard-text1,
  .questionCard-text2,
  .questionCard-text3 {
    font-size: 1.1rem;
    padding: 0 0.5rem;
    margin: 0;
  }
}
@media all and (min-width: 903px) and (max-width: 1024px) {
  
}
@media all and (min-width: 1025px) {
  
}