/* result로 넘어갈 때 display: block; */
#shareResult {
  display: none;
  min-height: 70vh;
  text-align: center;
  word-break: keep-all;
  font-size: 2vw;
  line-height: 5vw;
  height: 70%;
  width: 80%;
  margin: 4rem auto;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: aliceblue 0px 0px 15px 5px;
  padding: 5vw 0;
}

.resultDesc > p {
  padding: 2rem;
  line-height: 3rem;
}
.result {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: center;

}

.location {
  background-image: url(../IMG/수정.png);
}

.resultH1, .resultname, .resultImg {
  padding: 2vw
}

.img {
  height: 25%;
}


/* media query */
@media all and (min-width: 486px) {
  #share-box {
    margin: 25px 20% 30px 20%;
    width: 60%;
  }
}

@media all and (min-width: 768px) {
  #score-box > .point {
    font-size: 30px;
    font-size: 4rem;
  }
  #share-box {
    margin: 25px 30% 30px 30%;
    width: 40%;
  }
  .hash {
    padding: 25px 7.5% 0;
    font-size: 17.6px;
    font-size: 1.1rem;
  }
}
@media all and (min-width: 1024px) {
  #score-box > .point {
    font-size: 80px;
    font-size: 5rem;
  }
  .pin {
    width: 50px; 
    height: 50px;
  }
  .art {
    margin: 0 5% 50px 5%;
    width: 90%;
    max-height: 2000px;
  }
  .desc {
    font-size: 20.8px;
    font-size: 1.3rem;
  }
  .go-artist {
    font-size: 17.6px;
    font-size: 1.1rem;
  }
  .caution {
    padding: 15px 7.5%;
  }
  .hash {
    font-size: 19.2px;
    font-size: 1.2rem;
  }
  #share-box {
    margin: 25px 35% 30px 35%;
    width: 30%;
  }
  .btn {
    margin: 0 35%;
    width: 30%;
  }
  .btn > a {
    font-size: 16px;
    font-size: 1rem;
  }
  #intro-box {
    padding-top: 20px;
  }
  .art-name {
    margin: 20px 0 35px 0;
  }
  .go-origin {
    margin: 25px 35% 0 35%;
  }
}

@media all and (min-width: 1440px) {
  #score-box > .point {
    font-size: 20vw;
    font-size: 5.5rem;
  }
 
}