@font-face {

  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");

  font-weight: normal;
  font-style: normal;
}
body {
  box-sizing: border-box;
  margin: 0;
}

.menu {
  color: #bee0ff;
  cursor: pointer;
  /* padding: 0px 40px; */
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 50px;
  line-height: 2.4em;
  /* letter-spacing: 1.5px; */
  outline: none;
  position: relative;
  border: 3px solid #bee0ff;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.3s;

  width: 100px;
}
.toggle_menu {
  display: block;
  text-decoration: none;
}

.menu:hover,
.menu.hover {
  border-color: #ededed00;
  color: white;
  background-color: #60b2fe;
}

nav {
  position: relative;
}

header {
  background-color: rgb(0, 0, 0);
  opacity: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: sticky;
}

.icon-menu {
  font-size: 32px;
  display: flex;
  color: #bee0ff
  ;
  padding: 10px 1rem;
}

.list-menu {
  display: none;
}

img {
  height: 4.5rem;
  padding: 15px;
  margin-left: 20px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.toggle_menu_bar {
  display: block;
}

.toggle_menu {
  display: block;
  margin: 15px 0;
}
.toggle-menu-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #4242424f;
  text-align: center;
  padding: 15px;
  margin: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

.menu_bar {
  display: none;


  position: relative;

  margin-top: 0.7rem;
}
.d-none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .menu_bar {
    display: block;
  }
  .icon-menu {
    display: none;
  }
  .toggle_menu_bar {
    display: none;
  }
  .toggle-menu-container {
    display: none;
  }
}

